---
---
@charset 'utf-8';


header,
footer {
	text-align: center;
}

section {
	width: 40em;
}

article {
	border: 0;
}

.logo {
	width: 64px;
	height: 64px;
}

code {
	font-size: 0.85rem!important;
	line-height: 1!important;
}

pre code {
	font-size: 0.85rem!important;
	line-height: 1!important;
}

.subline {
	margin-left: 0;
	li {
		margin-right: 1em;
		display: inline;
		list-style: none;
	}
}


th:first-child,
td:first-child {
  width: 64px; /* Set the width for the Task column */
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflowed text */
  text-overflow: ellipsis; /* Add ellipsis for truncated text */
}

tbody td:not(:first-child) {
  white-space: normal; /* Allow wrapping for other columns */
}